<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/title-bar.png" type="image/png">
  <link href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/utils.css" rel="stylesheet">
  <script src="{{ site.baseurl }}/assets/javascripts/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/utils.js"></script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">
</head>
